backports.functools-lru-cache==1.6.1
cycler==0.10.0
funcsigs==1.0.2
future==0.18.2
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
stopeight==0.2.12.dev4+g2acde9b.d20200213
subprocess32==3.5.4
