name: "Conda Build"

on: [push, pull_request]

jobs:
  conda-build-ubuntu:
    name: Ubuntu Conda Build
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: 'false'
      - name: Checkout submodules
        shell: bash -l {0}
        run: |
          git submodule update --init --recursive
      - name: Bash
        shell: bash -l {0}
        run: |
          eval "$($CONDA/condabin/conda shell.bash hook)"
          conda create --name btest
          conda activate btest
          conda install --channel specpose python=3.7.6 stopeight-clibs
          python -m pip install -r requirements.txt
          python -m pip install setuptools wheel
          python setup.py sdist bdist

  conda-build-mac:
    name: Mac Conda Build
    runs-on: 'macos-latest'
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: 'false'
      - name: Checkout submodules
        shell: sh -l {0}
        run: |
          git submodule update --init --recursive
      - name: Sh
        shell: sh -l {0}
        run: |
          eval "$($CONDA/condabin/conda shell.zsh hook)"
          conda create --name btest
          conda activate btest
          conda install --channel specpose python=3.7.6 stopeight-clibs
          python -m pip install -r requirements.txt
          python -m pip install setuptools wheel
          python setup.py sdist bdist

  conda-build-win:
    name: Windows Conda Build
    runs-on: 'windows-latest'
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: 'false'
      - name: Checkout submodules
        shell: pwsh
        run: |
          git submodule update --init --recursive
      - name: Configure Windows Conda Shell
        shell: pwsh
        run: |
          Set-ExecutionPolicy RemoteSigned
          (& $env:CONDA"\condabin\conda" shell.powershell hook)
          conda create --name btest
          conda activate btest
          conda install --channel specpose python=3.7.6 stopeight-clibs
          python -m pip install -r requirements.txt
          python -m pip install setuptools wheel
          python setup.py sdist bdist
