name: "Conda Build"

on: [push, pull_request]

jobs:
  conda-build-ubuntu:
    name: Conda Build Ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: 'false'
          update-conda: true
      - name: Checkout submodules
        shell: bash -l {0}
        run: |
          git submodule update --init --recursive
      - name: Activate conda
        shell: bash -l {0}
        run: |
          eval "$($CONDA/condabin/conda shell.zsh hook)"
          conda create --name btest
          conda activate btest
      - name: Install stopeight-clibs
        shell: bash -l {0}
        run: |
          conda install --channel specpose python stopeight-clibs
      - name: Install Build Requirements
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install --upgrade build
      - name: Test pypa build
        shell: bash -l {0}
        run: |
          python -m build --sdist --wheel
      - name: Test sdist build
        shell: bash -l {0}
        run: |
          python setup.py sdist
      - name: Test compile
        shell: bash -l {0}
        run: |
          python -m pip install -v

  conda-build-mac:
    name: Conda Build Mac
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: 'false'
          update-conda: true
      - name: Checkout submodules
        shell: zsh -l {0}
        run: |
          git submodule update --init --recursive
      - name: Activate conda
        shell: zsh -l {0}
        run: |
          sudo chown -R 501:20 /usr/local/miniconda
          eval "$($CONDA/condabin/conda shell.zsh hook)"
          conda create --name btest
          conda activate btest
      - name: Install stopeight-clibs
        shell: zsh -l {0}
        run: |
          conda install --channel specpose python stopeight-clibs
      - name: Install Build Requirements
        shell: zsh -l {0}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install --upgrade build
      - name: Test pypa Build
        shell: zsh -l {0}
        run: |
          python -m build --sdist --wheel
      - name: Test sdist Build
        shell: zsh -l {0}
        run: |
          python setup.py sdist
      - name: Test compile
        shell: zsh -l {0}
        run: |
          python -m pip install -v

  conda-build-win:
    name: Conda Build Windows
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: 'false'
          update-conda: true
      - name: Checkout submodules
        shell: powershell
        run: |
          git submodule update --init --recursive
      - name: Activate conda
        shell: powershell
        run: |
          (& $env:CONDA"\Scripts\conda.exe" "shell.powershell" "hook") | Out-String | Invoke-Expression
          conda create --name btest
          conda activate btest
      - name: Install stopeight-clibs
        shell: powershell
        run: |
          conda install --channel specpose python stopeight-clibs
      - name: Install Build Requirements
        shell: powershell
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install --upgrade build
      - name: Test pypa Build
        shell: powershell
        run: |
          python -m build --sdist --wheel
      - name: Test sdist Build
        shell: powershell
        run: |
          python setup.py sdist
      - name: Test compile
        shell: powershell
        run: |
          python -m pip install -v
